/*
 Use some sort of background for the actual body
 masthead should be roughly 50% of page width
 main container should probably be 80% 


*/

nav {

}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #ffffff;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}


* {
 
}

body {
	background: url("../images/pusheen.png");
}

/* column adjustments for responsive design */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* header */
#masthead {
	background-color: white;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99;

}



#mainContainer {
	background-color: powderblue;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

	padding-top: 150px;

}

.img-social {
	max-width: 25px;
	height: auto;
	float: right;
}		

.banner-img {
	max-width: 100%;
	height: auto;
	margin: 10px;
	padding: 10px;	
}

.profile-img {

	max-width: 100%;
	height: auto;
	margin: 10px;
	padding: 10px;
	float: left;
}

.img-circle {
	border-radius: 85%;
}

#about {
			

}

#services {
	

}

#services-col {
	text-align: center;
}

#testimonials {
}

#testimonials-col {
	text-align: center;

}

#contactMe {

}

