* {
 
}

body {
	background: url("../images/pusheen.png");
}

/* header */
#masthead {
	background-color: white;
	position: fixed;
	text-align: center;
	border: 3px solid green;
	z-index: 99;
	width: 100%;

}

.img-social {
    max-width: 25px;
    height: auto;
}

.img-banner {
    /* seems useless
    width: auto;
    height: 200px;
    
    max-width: 100%;
    */
    height: auto;
    
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;

}

li {

}

/*Style for menu links*/
li a {
    display:block;
    text-align: center;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}



.profile-img {

    width: auto;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
    float: left;
}


#mainContainer {
    background-color: powderblue;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    padding-top: 150px;

}





/*Responsive Styles*/
@media screen and (max-width : 768px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
        padding: 10px 0;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    .img-banner {
        /* seems useless
        max-width: 50%;
        height: auto;
            */
    }
}